<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">Create Client</h4>
      </div>
      <div class="aside-body">
        <div id="messages" ng-show="message">{{ message }}</div>
        <form action="" ng-submit="processForm()">
          <div class="form-group">
            <label for="">Client Name</label>
            <input type="text" ng-model="formData.name" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Street</label>
            <input type="text" ng-model="formData.street" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Zip</label>
            <input type="text" ng-model="formData.zip" class="form-control">
          </div>
          <div class="form-group">
            <label for="">City</label>
            <input type="text" ng-model="formData.city" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Country</label>
            <input type="text" ng-model="formData.country" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" ng-model="formData.email" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="text" ng-model="formData.phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Picture</label>
            <input type="text" ng-model="formData.picture" class="form-control">
          </div>
          <input type="submit" value="Save Client" class="form-control btn btn-primary">
        </form>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>